<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChiSaTo.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChiSaTo.Settings1>
            <setting name="BlogCateLog" serializeAs="String">
                <value>D:\\博客\\YuriBlog</value>
            </setting>
            <setting name="Blog_Url" serializeAs="String">
                <value>http://www.yayi.site</value>
            </setting>
            <setting name="Blog_Repo" serializeAs="String">
                <value>https://github.com/TangxinGH/Blog</value>
            </setting>
        </ChiSaTo.Settings1>
    </userSettings>
</configuration>